.navbar {
	/*font-family: sans-serif, Arial, Helvetica;*/
	margin-bottom: 0;
	background-color: #0082C8;
	border: 0;
	border-radius: 0;
}
.navbar a{
	/*font-family: "Roboto Condensed", Helvetica, Arial, Verdana, sans-serif;*/
	color: #ffffff !important;
	/*text-transform: uppercase;*/
	/*font-weight: bold;*/
}
.navbar .navbar-header a{
	color:#fff !important;
}
.navbar-nav li:hover {
	background-color:#0078B8 !important;
}
.navbar-nav > li{
	border-right: solid 1px #0078B8;
}
.dropdown-menu li a:hover {
	color:red !important;
}
.dropdown-menu li a {
	color:#aaa !important;
}
@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}
a:hover{
	text-decoration: none;
}